.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__name {
    font-weight: 300;
    font-size: 1.8rem;
  }
  &__stats{
    font-size: 1.3rem;
    font-weight: 300;
    font-style: italic;
  }
  &__actions {
    flex-shrink: 0;

  }
}
